* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/736x/fa/c4/e5/fac4e5f918b9d97f6e3b4e7e807dcc3d.jpg");
    background-position: center;
    background-size: cover;
}

.box {
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 4rem;
}

h1 {
    color: rgb(0, 0, 0);
}

button {
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    padding: 5px;
    border-radius: 9px;
    margin: 10px;
    font-weight: 800;
}

button:active {
    scale: 0.70;
    transition: ease-in-out 1s;
}

@media(max-width:400px) {
    body {
        text-align: center;
        background-image: url("https://ideogram.ai/assets/progressive-image/balanced/response/nWTs24KwR2iABG8ujKpjWA");
        background-size: cover;
        background-position: center;
    }
    h1 {
        margin: 15px;
        color: white;
        padding-bottom: 150px;
    }
    button {
        padding: 12px;
        font-size: 20px;
    }
}